/* Container and some default stuff Scss Document */

* { position: relative;  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.block-container {
	width: 1600px; margin: 0 auto; display: flex; flex-wrap: wrap; padding: 20px;
	@include desktop-mega { width: 90%; margin: 0 5%; }
	@include desktop-large { width: 100%; margin: 0; padding: 20px; }
	@include desktop { width: 100%; margin: 0; padding: 20px; }
	@include mobile { width: 100%; margin: 0; padding: 0; }
}

.block-container--carousel {
  display: block;
}

// Add this to correctly align elements vertically
.block-wrapper {
  padding: 30px;

  @include desktop {
    padding: 20px;
  }
}

.btnrow { margin: 20px 0; }


/* Silverstripe image alignment */
img.left { display: inline; float: left; margin: 0 15px 15px 0; clear: both; max-width: 100%; height: auto; }
img.right { display: inline; float: right; margin: 0 0 15px 15px; clear: both; max-width: 100%; height: auto; }
img.center { margin: 0 auto; clear: both; display: block; max-width: 100%; height: auto; padding: 15px 0; }

img.leftAlone { float: left; margin: 15px 100% 15px 0; max-width: 100%; height: auto; }
img.rightAlone { float: right; margin: 15px 0 15px 100%; max-width: 100%; height: auto; }
